{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>GT Courier</h1>           
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
         <script>   
            window.gt_courier_settings = {{gt_courier_settings}};
            window.gt_module_save_settings_link = "{{gt_module_save_settings_link}}";
            window.order_status_add_link = "{{order_status_add_link}}";
            window.user_token = "{{user_token}}";
            window.is_order_status_added = "{{is_order_status_added}}";
         </script>

         <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Επεξεργασία</h3>
            </div>
            <div class="panel-body">
                <div id="settingsRoot"></div>
            </div>
         </div>
    </div>
</div>

<script src="view/javascript/vendor/react.production.min.js"></script>
<script src="view/javascript/vendor/react-dom.production.min.js"></script>
<script src="view/javascript/gt_courier/settings.compiled.js"></script>

{{ footer }}
