{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>GT Courier</h1>           
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
         <script>   
            window.gt_courier_settings = {{gt_courier_settings}};
            window.gt_module_save_settings_link = "{{gt_module_save_settings_link}}";
            window.order_status_add_link = "{{order_status_add_link}}";
            window.user_token = "{{user_token}}";
            window.is_order_status_added = "{{is_order_status_added}}";
         </script>

         <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Επεξεργασία</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <div class="form-group" style="border-bottom: 1px solid #ededed; padding-bottom: 15px; margin-bottom: 20px;">
                        <label class="col-sm-2 control-label" for="input-status">Κατάσταση (Status)</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="module_gt_courier_status" value="1" />
                            <div class="form-control" style="background:#f5f5f5; cursor:not-allowed;">Ενεργοποιημένο (Enabled)</div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" form="form-module" data-toggle="tooltip" title="Αποθήκευση Κατάστασης" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Αποθήκευση</button>
                        </div>
                    </div>
                </form>
                <div id="settingsRoot"></div>
            </div>
         </div>
    </div>
</div>

<script src="view/javascript/vendor/react.production.min.js"></script>
<script src="view/javascript/vendor/react-dom.production.min.js"></script>
<script src="view/javascript/gt_courier/settings.compiled.js"></script>

{{ footer }}
